/.idea
/.vscode
index.php
/application/config/config.php
/application/config/database.php

/uploads/country/*
!uploads/country/.keep
!uploads/country/index.html

/uploads/episodes/*
!uploads/episodes/.keep
!uploads/episodes/index.html

/uploads/genre/*
!uploads/genre/.keep
!uploads/genre/index.html

/uploads/poster_image/*
!uploads/poster_image/.keep
!uploads/poster_image/index.html

/uploads/slider/*
!uploads/slider/.keep
!uploads/slider/index.html

/uploads/star_image/*
!uploads/star_image/.keep
!uploads/star_image/index.html

/uploads/subtitles/*
!uploads/subtitles/.keep
!uploads/subtitles/index.html

/uploads/temp/*
!uploads/temp/.keep
!uploads/temp/index.html

/uploads/tv_image/*
!uploads/tv_image/.keep
!uploads/tv_image/index.html
/uploads/tv_image/sm/*
!uploads/tv_image/sm/.keep
!uploads/tv_image/sm/index.html

/uploads/user_image/*
!uploads/user_image/.keep
!uploads/user_image/index.html

/uploads/video_thumb/*
!uploads/video_thumb/.keep
!uploads/video_thumb/index.html
/uploads/video_thumb/sm/*
!uploads/video_thumb/sm/.keep
!uploads/video_thumb/sm/index.html

/uploads/videos/*
!uploads/videos/.keep
!uploads/videos/index.html
