@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .deep-black {
        background-image: linear-gradient(
            to bottom,
            #090812,
            #111520 100vh,
            #07090e 200vh
        );
    }
}
@layer base {
    html {
        font-family: "Inter", system-ui, sans-serif;
    }
}
@layer components {
    .scrollToTop {
        position: fixed;
        bottom: 0;
        right: 30px;
        width: 45px;
        height: 45px;
        background: #d50055;
        color: white;
        line-height: 45px;
        font-size: 20px;
        text-align: center;
        border-radius: 50%;
        z-index: 9999;
        cursor: pointer;
        transition: all 1s;
        transform: translateY(100%);
    }
    .scrollToTop img {
        width: 25px;
    }

    .scrollToTop.active {
        bottom: 30px;
        transform: translateY(0%);
    }

    .scrollToTop:hover,
    .scrollToTop:focus {
        color: white;
    }
}
@layer components {
    .pagination-container {
        @apply mt-6;
    }
    .pagination {
        @apply flex flex-row items-center justify-center gap-x-1;
    }
    .pagination li a {
        @apply relative inline-flex items-center px-2 py-1 md:px-4 md:py-2 -ml-px text-sm font-medium leading-5 rounded-lg hover:bg-gray-700 focus:z-10 focus:outline-none active:bg-pink-500 transition ease-in-out duration-150;
    }
    .pagination li.active a {
        @apply bg-pink-500;
    }
    .modern-Checkbox {
        @apply m-1;
    }
    .modern-Checkbox label {
        @apply rounded-md text-center bg-gray-800 text-gray-400 px-2 py-1;
    }
    .modern-Checkbox [type="checkbox"]:checked + label, .modern-Checkbox [type="checkbox"] :checked + label:hover {
        @apply bg-pink-500 text-white;
    }
    .ui-autocomplete {
        @apply mt-5 z-50 max-w-xs md:max-w-md bg-gray-800;
    }
    .ui-autocomplete .ui-menu-item {
        @apply p-2
    }
    .ui-menu-item .list_item_container {
        @apply flex;
    }
    .list_item_container .image {
        @apply w-3/12 aspect-video rounded overflow-hidden
    }
    .list_item_container .th-title {
        @apply text-xs md:text-sm w-9/12 ml-2;
    }
}
